/* Created by: Adrina. pwighambarzadeh
* Created on: mar 2025
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0deg;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: rgb(20 62 20);
}

.page-content {
  color: rgb(0deg 0deg 0deg);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: rgb(188 246 165);
}

img {
  float: right;
  height: 200px;
}